In [1]:
import pandas as pd
df=pd.read_excel('Online retail.xlsx')
df

     shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
0                                burgers,meatballs,eggs
1                                               chutney
2                                        turkey,avocado
3     mineral water,milk,energy bar,whole wheat rice...
4                                        low fat yogurt
...                                                 ...
7495                      butter,light mayo,fresh bread
7496  burgers,frozen vegetables,eggs,french fries,ma...
7497                                            chicken
7498                                 escalope,green tea
7499    eggs,frozen smoothie,yogurt cake,low fat yogurt

[7500 rows x 1 columns]

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7500 entries, 0 to 7499
Data columns (total 1 columns):
 #   Column                                                                                                                                                                                                                           Non-Null Count  Dtype
---  ------                                                                                                                                                                                                                           --------------  -----
 0   shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil  7500 non-null   object
dtypes: object(1)
memory usage: 58.7+ KB

In [3]:
df.columns

Index(['shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil'], dtype='object')

In [4]:
df.shape

(7500, 1)

In [5]:
df.describe()

       shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
count                                                7500
unique                                               5175
top                                               cookies
freq                                                  223

In [6]:
df.isnull().sum()

shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil    0
dtype: int64

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7500 entries, 0 to 7499
Data columns (total 1 columns):
 #   Column                                                                                                                                                                                                                           Non-Null Count  Dtype
---  ------                                                                                                                                                                                                                           --------------  -----
 0   shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil  7500 non-null   object
dtypes: object(1)
memory usage: 58.7+ KB

In [8]:
df.fillna('Unknown', inplace=True)

In [9]:
df.drop_duplicates(inplace=True)

In [10]:
data = {
    'TransactionID': [1, 2, 3, 4],
    'Products': [
        ['shrimp', 'almonds', 'avocado'],
        ['vegetables mix', 'green grapes', 'whole wheat flour'],
        ['yams', 'cottage cheese', 'energy drink'],
        ['tomato juice', 'low fat yogurt', 'green tea', 'honey']
    ]
}

In [11]:
df = pd.DataFrame(data)
df

   TransactionID                                           Products
0              1                         [shrimp, almonds, avocado]
1              2  [vegetables mix, green grapes, whole wheat flour]
2              3               [yams, cottage cheese, energy drink]
3              4   [tomato juice, low fat yogurt, green tea, honey]

In [12]:
all_products = ['shrimp', 'almonds', 'avocado', 'vegetables mix', 'green grapes', 'whole wheat flour', 
                'yams', 'cottage cheese', 'energy drink', 'tomato juice', 'low fat yogurt', 'green tea', 
                'honey', 'salad', 'mineral water', 'salmon', 'antioxidant juice', 'frozen smoothie', 
                'spinach', 'olive oil']

In [13]:
def one_hot_encode(transaction_list, all_products):
    return [1 if product in transaction_list else 0 for product in all_products]

In [14]:
basket_encoded = df['Products'].apply(lambda x: one_hot_encode(x, all_products))
basket_encoded

0    [1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
1    [0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
2    [0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, ...
3    [0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, ...
Name: Products, dtype: object

In [15]:
basket_encoded_df = pd.DataFrame(basket_encoded.tolist(), columns=all_products)
basket_encoded_df

,shrimp,almonds,avocado,vegetables mix,green grapes,whole wheat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxidant juice,frozen smoothie,spinach,olive oil
0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,1,1,1,1,0,0,0,0,0,0,0

In [16]:
basket_encoded_df['TransactionID'] = df['TransactionID']

In [17]:
basket_encoded_df.set_index('TransactionID', inplace=True)
basket_encoded_df

,shrimp,almonds,avocado,vegetables mix,green grapes,whole wheat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxidant juice,frozen smoothie,spinach,olive oil
TransactionID,,,,,,,,,,,,,,,,,,,,
1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,1,1,1,1,0,0,0,0,0,0,0

In [18]:
df.columns

Index(['TransactionID', 'Products'], dtype='object')

In [19]:
from mlxtend.frequent_patterns import apriori, association_rules
frequent_itemsets = apriori( basket_encoded_df,min_support=0.05, use_colnames=True)

C:\Users\SuprithSKumar\anaconda3\Lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:161: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

In [20]:
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1,num_itemsets=5)

In [21]:
filtered_rules = rules[(rules['confidence'] >= 0.7) & (rules['lift'] >= 1)]

In [22]:
print("Filtered Association Rules:")
filtered_rules

Filtered Association Rules:

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
0,(almonds),(shrimp),0.25,0.25,0.25,1.0,4.0,1.0,0.1875,inf,1.0,1.0,1.0,1.0
1,(shrimp),(almonds),0.25,0.25,0.25,1.0,4.0,1.0,0.1875,inf,1.0,1.0,1.0,1.0
2,(shrimp),(avocado),0.25,0.25,0.25,1.0,4.0,1.0,0.1875,inf,1.0,1.0,1.0,1.0
3,(avocado),(shrimp),0.25,0.25,0.25,1.0,4.0,1.0,0.1875,inf,1.0,1.0,1.0,1.0
4,(almonds),(avocado),0.25,0.25,0.25,1.0,4.0,1.0,0.1875,inf,1.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,"(low fat yogurt, green tea)","(tomato juice, honey)",0.25,0.25,0.25,1.0,4.0,1.0,0.1875,inf,1.0,1.0,1.0,1.0
82,(honey),"(tomato juice, low fat yogurt, green tea)",0.25,0.25,0.25,1.0,4.0,1.0,0.1875,inf,1.0,1.0,1.0,1.0
83,(tomato juice),"(green tea, honey, low fat yogurt)",0.25,0.25,0.25,1.0,4.0,1.0,0.1875,inf,1.0,1.0,1.0,1.0
84,(low fat yogurt),"(tomato juice, honey, green tea)",0.25,0.25,0.25,1.0,4.0,1.0,0.1875,inf,1.0,1.0,1.0,1.0
85,(green tea),"(tomato juice, honey, low fat yogurt)",0.25,0.25,0.25,1.0,4.0,1.0,0.1875,inf,1.0,1.0,1.0,1.0

In [23]:
for index, row in filtered_rules.iterrows():
    print(f"Rule {index+1}: {row['antecedents']} -> {row['consequents']}")
    print(f"Support: {row['support']}, Confidence: {row['confidence']}, Lift: {row['lift']}")
    print("-" * 50)

Rule 1: frozenset({'almonds'}) -> frozenset({'shrimp'})
Support: 0.25, Confidence: 1.0, Lift: 4.0
--------------------------------------------------
Rule 2: frozenset({'shrimp'}) -> frozenset({'almonds'})
Support: 0.25, Confidence: 1.0, Lift: 4.0
--------------------------------------------------
Rule 3: frozenset({'shrimp'}) -> frozenset({'avocado'})
Support: 0.25, Confidence: 1.0, Lift: 4.0
--------------------------------------------------
Rule 4: frozenset({'avocado'}) -> frozenset({'shrimp'})
Support: 0.25, Confidence: 1.0, Lift: 4.0
--------------------------------------------------
Rule 5: frozenset({'almonds'}) -> frozenset({'avocado'})
Support: 0.25, Confidence: 1.0, Lift: 4.0
--------------------------------------------------
Rule 6: frozenset({'avocado'}) -> frozenset({'almonds'})
Support: 0.25, Confidence: 1.0, Lift: 4.0
--------------------------------------------------
Rule 7: frozenset({'green grapes'}) -> frozenset({'vegetables mix'})
Support: 0.25, Confidence: 1.0, Lift: 4.0
--------------------------------------------------
Rule 8: frozenset({'vegetables mix'}) -> frozenset({'green grapes'})
Support: 0.25, Confidence: 1.0, Lift: 4.0
--------------------------------------------------
Rule 9: frozenset({'whole wheat flour'}) -> frozenset({'vegetables mix'})
Support: 0.25, Confidence: 1.0, Lift: 4.0
--------------------------------------------------
Rule 10: frozenset({'vegetables mix'}) -> frozenset({'whole wheat flour'})
Support: 0.25, Confidence: 1.0, Lift: 4.0
--------------------------------------------------
Rule 11: frozenset({'green grapes'}) -> frozenset({'whole wheat flour'})
Support: 0.25, Confidence: 1.0, Lift: 4.0
--------------------------------------------------
Rule 12: frozenset({'whole wheat flour'}) -> frozenset({'green grapes'})
Support: 0.25, Confidence: 1.0, Lift: 4.0
--------------------------------------------------
Rule 13: frozenset({'cottage cheese'}) -> frozenset({'yams'})
Support: 0.25, Confidence: 1.0, Lift: 4.0
--------------------------------------------------
Rule 14: frozenset({'yams'}) -> frozenset({'cottage cheese'})
Support: 0.25, Confidence: 1.0, Lift: 4.0
--------------------------------------------------
Rule 15: frozenset({'energy drink'}) -> frozenset({'yams'})
Support: 0.25, Confidence: 1.0, Lift: 4.0
--------------------------------------------------
Rule 16: frozenset({'yams'}) -> frozenset({'energy drink'})
Support: 0.25, Confidence: 1.0, Lift: 4.0
--------------------------------------------------
Rule 17: frozenset({'energy drink'}) -> frozenset({'cottage cheese'})
Support: 0.25, Confidence: 1.0, Lift: 4.0
--------------------------------------------------
Rule 18: frozenset({'cottage cheese'}) -> frozenset({'energy drink'})
Support: 0.25, Confidence: 1.0, Lift: 4.0
--------------------------------------------------
Rule 19: frozenset({'tomato juice'}) -> frozenset({'low fat yogurt'})
Support: 0.25, Confidence: 1.0, Lift: 4.0
--------------------------------------------------
Rule 20: frozenset({'low fat yogurt'}) -> frozenset({'tomato juice'})
Support: 0.25, Confidence: 1.0, Lift: 4.0
--------------------------------------------------
Rule 21: frozenset({'tomato juice'}) -> frozenset({'green tea'})
Support: 0.25, Confidence: 1.0, Lift: 4.0
--------------------------------------------------
Rule 22: frozenset({'green tea'}) -> frozenset({'tomato juice'})
Support: 0.25, Confidence: 1.0, Lift: 4.0
--------------------------------------------------
Rule 23: frozenset({'tomato juice'}) -> frozenset({'honey'})
Support: 0.25, Confidence: 1.0, Lift: 4.0
--------------------------------------------------
Rule 24: frozenset({'honey'}) -> frozenset({'tomato juice'})
Support: 0.25, Confidence: 1.0, Lift: 4.0
--------------------------------------------------
Rule 25: frozenset({'low fat yogurt'}) -> frozenset({'green tea'})
Support: 0.25, Confidence: 1.0, Lift: 4.0
--------------------------------------------------
Rule 26: frozenset({'green tea'}) -> frozenset({'low fat yogurt'})
Support: 0.25, Confidence: 1.0, Lift: 4.0
--------------------------------------------------
Rule 27: frozenset({'honey'}) -> frozenset({'low fat yogurt'})
Support: 0.25, Confidence: 1.0, Lift: 4.0
--------------------------------------------------
Rule 28: frozenset({'low fat yogurt'}) -> frozenset({'honey'})
Support: 0.25, Confidence: 1.0, Lift: 4.0
--------------------------------------------------
Rule 29: frozenset({'honey'}) -> frozenset({'green tea'})
Support: 0.25, Confidence: 1.0, Lift: 4.0
--------------------------------------------------
Rule 30: frozenset({'green tea'}) -> frozenset({'honey'})
Support: 0.25, Confidence: 1.0, Lift: 4.0
--------------------------------------------------
Rule 31: frozenset({'shrimp', 'almonds'}) -> frozenset({'avocado'})
Support: 0.25, Confidence: 1.0, Lift: 4.0
--------------------------------------------------
Rule 32: frozenset({'almonds', 'avocado'}) -> frozenset({'shrimp'})
Support: 0.25, Confidence: 1.0, Lift: 4.0
--------------------------------------------------
Rule 33: frozenset({'shrimp', 'avocado'}) -> frozenset({'almonds'})
Support: 0.25, Confidence: 1.0, Lift: 4.0
--------------------------------------------------
Rule 34: frozenset({'almonds'}) -> frozenset({'shrimp', 'avocado'})
Support: 0.25, Confidence: 1.0, Lift: 4.0
--------------------------------------------------
Rule 35: frozenset({'shrimp'}) -> frozenset({'almonds', 'avocado'})
Support: 0.25, Confidence: 1.0, Lift: 4.0
--------------------------------------------------
Rule 36: frozenset({'avocado'}) -> frozenset({'shrimp', 'almonds'})
Support: 0.25, Confidence: 1.0, Lift: 4.0
--------------------------------------------------
Rule 37: frozenset({'green grapes', 'whole wheat flour'}) -> frozenset({'vegetables mix'})
Support: 0.25, Confidence: 1.0, Lift: 4.0
--------------------------------------------------
Rule 38: frozenset({'green grapes', 'vegetables mix'}) -> frozenset({'whole wheat flour'})
Support: 0.25, Confidence: 1.0, Lift: 4.0
--------------------------------------------------
Rule 39: frozenset({'vegetables mix', 'whole wheat flour'}) -> frozenset({'green grapes'})
Support: 0.25, Confidence: 1.0, Lift: 4.0
--------------------------------------------------
Rule 40: frozenset({'green grapes'}) -> frozenset({'vegetables mix', 'whole wheat flour'})
Support: 0.25, Confidence: 1.0, Lift: 4.0
--------------------------------------------------
Rule 41: frozenset({'whole wheat flour'}) -> frozenset({'green grapes', 'vegetables mix'})
Support: 0.25, Confidence: 1.0, Lift: 4.0
--------------------------------------------------
Rule 42: frozenset({'vegetables mix'}) -> frozenset({'green grapes', 'whole wheat flour'})
Support: 0.25, Confidence: 1.0, Lift: 4.0
--------------------------------------------------
Rule 43: frozenset({'energy drink', 'cottage cheese'}) -> frozenset({'yams'})
Support: 0.25, Confidence: 1.0, Lift: 4.0
--------------------------------------------------
Rule 44: frozenset({'energy drink', 'yams'}) -> frozenset({'cottage cheese'})
Support: 0.25, Confidence: 1.0, Lift: 4.0
--------------------------------------------------
Rule 45: frozenset({'cottage cheese', 'yams'}) -> frozenset({'energy drink'})
Support: 0.25, Confidence: 1.0, Lift: 4.0
--------------------------------------------------
Rule 46: frozenset({'energy drink'}) -> frozenset({'cottage cheese', 'yams'})
Support: 0.25, Confidence: 1.0, Lift: 4.0
--------------------------------------------------
Rule 47: frozenset({'cottage cheese'}) -> frozenset({'energy drink', 'yams'})
Support: 0.25, Confidence: 1.0, Lift: 4.0
--------------------------------------------------
Rule 48: frozenset({'yams'}) -> frozenset({'energy drink', 'cottage cheese'})
Support: 0.25, Confidence: 1.0, Lift: 4.0
--------------------------------------------------
Rule 49: frozenset({'tomato juice', 'low fat yogurt'}) -> frozenset({'green tea'})
Support: 0.25, Confidence: 1.0, Lift: 4.0
--------------------------------------------------
Rule 50: frozenset({'tomato juice', 'green tea'}) -> frozenset({'low fat yogurt'})
Support: 0.25, Confidence: 1.0, Lift: 4.0
--------------------------------------------------
Rule 51: frozenset({'low fat yogurt', 'green tea'}) -> frozenset({'tomato juice'})
Support: 0.25, Confidence: 1.0, Lift: 4.0
--------------------------------------------------
Rule 52: frozenset({'tomato juice'}) -> frozenset({'low fat yogurt', 'green tea'})
Support: 0.25, Confidence: 1.0, Lift: 4.0
--------------------------------------------------
Rule 53: frozenset({'low fat yogurt'}) -> frozenset({'tomato juice', 'green tea'})
Support: 0.25, Confidence: 1.0, Lift: 4.0
--------------------------------------------------
Rule 54: frozenset({'green tea'}) -> frozenset({'tomato juice', 'low fat yogurt'})
Support: 0.25, Confidence: 1.0, Lift: 4.0
--------------------------------------------------
Rule 55: frozenset({'tomato juice', 'honey'}) -> frozenset({'low fat yogurt'})
Support: 0.25, Confidence: 1.0, Lift: 4.0
--------------------------------------------------
Rule 56: frozenset({'honey', 'low fat yogurt'}) -> frozenset({'tomato juice'})
Support: 0.25, Confidence: 1.0, Lift: 4.0
--------------------------------------------------
Rule 57: frozenset({'tomato juice', 'low fat yogurt'}) -> frozenset({'honey'})
Support: 0.25, Confidence: 1.0, Lift: 4.0
--------------------------------------------------
Rule 58: frozenset({'honey'}) -> frozenset({'tomato juice', 'low fat yogurt'})
Support: 0.25, Confidence: 1.0, Lift: 4.0
--------------------------------------------------
Rule 59: frozenset({'tomato juice'}) -> frozenset({'honey', 'low fat yogurt'})
Support: 0.25, Confidence: 1.0, Lift: 4.0
--------------------------------------------------
Rule 60: frozenset({'low fat yogurt'}) -> frozenset({'tomato juice', 'honey'})
Support: 0.25, Confidence: 1.0, Lift: 4.0
--------------------------------------------------
Rule 61: frozenset({'tomato juice', 'honey'}) -> frozenset({'green tea'})
Support: 0.25, Confidence: 1.0, Lift: 4.0
--------------------------------------------------
Rule 62: frozenset({'tomato juice', 'green tea'}) -> frozenset({'honey'})
Support: 0.25, Confidence: 1.0, Lift: 4.0
--------------------------------------------------
Rule 63: frozenset({'honey', 'green tea'}) -> frozenset({'tomato juice'})
Support: 0.25, Confidence: 1.0, Lift: 4.0
--------------------------------------------------
Rule 64: frozenset({'tomato juice'}) -> frozenset({'honey', 'green tea'})
Support: 0.25, Confidence: 1.0, Lift: 4.0
--------------------------------------------------
Rule 65: frozenset({'honey'}) -> frozenset({'tomato juice', 'green tea'})
Support: 0.25, Confidence: 1.0, Lift: 4.0
--------------------------------------------------
Rule 66: frozenset({'green tea'}) -> frozenset({'tomato juice', 'honey'})
Support: 0.25, Confidence: 1.0, Lift: 4.0
--------------------------------------------------
Rule 67: frozenset({'honey', 'low fat yogurt'}) -> frozenset({'green tea'})
Support: 0.25, Confidence: 1.0, Lift: 4.0
--------------------------------------------------
Rule 68: frozenset({'honey', 'green tea'}) -> frozenset({'low fat yogurt'})
Support: 0.25, Confidence: 1.0, Lift: 4.0
--------------------------------------------------
Rule 69: frozenset({'low fat yogurt', 'green tea'}) -> frozenset({'honey'})
Support: 0.25, Confidence: 1.0, Lift: 4.0
--------------------------------------------------
Rule 70: frozenset({'honey'}) -> frozenset({'low fat yogurt', 'green tea'})
Support: 0.25, Confidence: 1.0, Lift: 4.0
--------------------------------------------------
Rule 71: frozenset({'low fat yogurt'}) -> frozenset({'honey', 'green tea'})
Support: 0.25, Confidence: 1.0, Lift: 4.0
--------------------------------------------------
Rule 72: frozenset({'green tea'}) -> frozenset({'honey', 'low fat yogurt'})
Support: 0.25, Confidence: 1.0, Lift: 4.0
--------------------------------------------------
Rule 73: frozenset({'tomato juice', 'honey', 'low fat yogurt'}) -> frozenset({'green tea'})
Support: 0.25, Confidence: 1.0, Lift: 4.0
--------------------------------------------------
Rule 74: frozenset({'tomato juice', 'honey', 'green tea'}) -> frozenset({'low fat yogurt'})
Support: 0.25, Confidence: 1.0, Lift: 4.0
--------------------------------------------------
Rule 75: frozenset({'green tea', 'honey', 'low fat yogurt'}) -> frozenset({'tomato juice'})
Support: 0.25, Confidence: 1.0, Lift: 4.0
--------------------------------------------------
Rule 76: frozenset({'tomato juice', 'low fat yogurt', 'green tea'}) -> frozenset({'honey'})
Support: 0.25, Confidence: 1.0, Lift: 4.0
--------------------------------------------------
Rule 77: frozenset({'tomato juice', 'honey'}) -> frozenset({'low fat yogurt', 'green tea'})
Support: 0.25, Confidence: 1.0, Lift: 4.0
--------------------------------------------------
Rule 78: frozenset({'honey', 'low fat yogurt'}) -> frozenset({'tomato juice', 'green tea'})
Support: 0.25, Confidence: 1.0, Lift: 4.0
--------------------------------------------------
Rule 79: frozenset({'honey', 'green tea'}) -> frozenset({'tomato juice', 'low fat yogurt'})
Support: 0.25, Confidence: 1.0, Lift: 4.0
--------------------------------------------------
Rule 80: frozenset({'tomato juice', 'low fat yogurt'}) -> frozenset({'honey', 'green tea'})
Support: 0.25, Confidence: 1.0, Lift: 4.0
--------------------------------------------------
Rule 81: frozenset({'tomato juice', 'green tea'}) -> frozenset({'honey', 'low fat yogurt'})
Support: 0.25, Confidence: 1.0, Lift: 4.0
--------------------------------------------------
Rule 82: frozenset({'low fat yogurt', 'green tea'}) -> frozenset({'tomato juice', 'honey'})
Support: 0.25, Confidence: 1.0, Lift: 4.0
--------------------------------------------------
Rule 83: frozenset({'honey'}) -> frozenset({'tomato juice', 'low fat yogurt', 'green tea'})
Support: 0.25, Confidence: 1.0, Lift: 4.0
--------------------------------------------------
Rule 84: frozenset({'tomato juice'}) -> frozenset({'green tea', 'honey', 'low fat yogurt'})
Support: 0.25, Confidence: 1.0, Lift: 4.0
--------------------------------------------------
Rule 85: frozenset({'low fat yogurt'}) -> frozenset({'tomato juice', 'honey', 'green tea'})
Support: 0.25, Confidence: 1.0, Lift: 4.0
--------------------------------------------------
Rule 86: frozenset({'green tea'}) -> frozenset({'tomato juice', 'honey', 'low fat yogurt'})
Support: 0.25, Confidence: 1.0, Lift: 4.0
--------------------------------------------------

# Interview Questions:

1.Lift is a metric used to evaluate the strength of an association rule. It measures how much more likely the consequent (right-hand side) of a rule is to occur when the antecedent (left-hand side) occurs, compared to when the antecedent and consequent are independent of each other.

#Lift helps to understand whether the rule is actually meaningful or if the antecedent and consequent occur together by chance.
#A higher lift value indicates a stronger association, which makes the rule more interesting and actionable for business decisions.


2.Support measures the frequency or proportion of transactions that contain both the antecedent and consequent of a rule.
#Confidence(A→B)=Support(A)/Support(A∩B)
​

#3. Computational Complexity:
Apriori algorithm, the most common algorithm for association rule mining, can be computationally expensive, especially for large datasets. This is because it needs to scan the entire dataset multiple times to count itemsets, which makes it slow for large numbers of transactions and items

#Association rules generally focus on binary relationships (e.g., “If A, then B”). More complex relationships, such as those involving multiple items or those requiring more sophisticated machine learning models, are not well-captured by traditional association rule mining.

In [24]:
from mlxtend.frequent_patterns import apriori, association_rules
from mlxtend.preprocessing import TransactionEncoder

In [25]:
df = pd.read_excel('Online retail.xlsx')

In [26]:
df.head()

  shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
0                             burgers,meatballs,eggs
1                                            chutney
2                                     turkey,avocado
3  mineral water,milk,energy bar,whole wheat rice...
4                                     low fat yogurt

In [27]:
transactions = df.iloc[:, 0].dropna().apply(lambda x: [item.strip() for item in x.split(',')])
transactions

0                              [burgers, meatballs, eggs]
1                                               [chutney]
2                                       [turkey, avocado]
3       [mineral water, milk, energy bar, whole wheat ...
4                                        [low fat yogurt]
                              ...
7495                    [butter, light mayo, fresh bread]
7496    [burgers, frozen vegetables, eggs, french frie...
7497                                            [chicken]
7498                                [escalope, green tea]
7499    [eggs, frozen smoothie, yogurt cake, low fat y...
Name: shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil, Length: 7500, dtype: object

In [28]:
te = TransactionEncoder()
te_ary = te.fit(transactions).transform(transactions)
df_encoded = pd.DataFrame(te_ary, columns=te.columns_)

In [36]:
freq_items = apriori(df_encoded, min_support=0.05, use_colnames=True)

In [37]:
rules = association_rules(freq_items,min_threshold=1)
rules

Empty DataFrame
Columns: [antecedents, consequents, antecedent support, consequent support, support, confidence, lift, representativity, leverage, conviction, zhangs_metric, jaccard, certainty, kulczynski]
Index: []

In [33]:
rules = rules.sort_values(by="lift", ascending=False)

In [31]:
print("\nTop 10 Association Rules:\n")
print(rules[['antecedents', 'consequents', 'support', 'confidence', 'lift']].head(10))

Top 10 Association Rules:

           antecedents          consequents  support  confidence  lift
0            (almonds)             (shrimp)     0.25         1.0   4.0
1             (shrimp)            (almonds)     0.25         1.0   4.0
2             (shrimp)            (avocado)     0.25         1.0   4.0
3            (avocado)             (shrimp)     0.25         1.0   4.0
4            (almonds)            (avocado)     0.25         1.0   4.0
5            (avocado)            (almonds)     0.25         1.0   4.0
6       (green grapes)     (vegetables mix)     0.25         1.0   4.0
7     (vegetables mix)       (green grapes)     0.25         1.0   4.0
8  (whole wheat flour)     (vegetables mix)     0.25         1.0   4.0
9     (vegetables mix)  (whole wheat flour)     0.25         1.0   4.0

In [32]:
output_path = "association_rules_output.xlsx"
rules.to_excel(output_path, index=False)

print(f"\n Association rules saved successfully to '{output_path}'")

 Association rules saved successfully to 'association_rules_output.xlsx'